# Maven target directory
java-dev-ops-assingment/target/

# IntelliJ IDEA files
.idea/
*.iml
*.iws

# Eclipse files
.project
.classpath
.settings/

# NetBeans files
nbproject/

# VS Code settings
.vscode/

# Build output directories
bin/
build/

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp
*.swo
